.about {
    // .about__title

    &__title {
        margin: 0 0 24px 0;
        letter-spacing: -0.6px;
        font-size: 28px;
        line-height: 40px;

        &::before {
            content: '';
            padding: 2px;
            height: 34px;
            background-color: $blue-main;
            border-radius: 0 15px 15px 0;
            margin-right: 12px;

            @include w-768 {
                margin-right: 20px;
            }

            @include w-1366 {
                margin-right: 28px;
            }
        }

        @include w-768 {
            margin-bottom: 32px;
        }
    }
}

