// main ../style.scss

.arrow-expand {
    border: none;
    background-color: $transparent;
    padding: 8px 10px;
    cursor: pointer;

    // .arrow-expand__text 

    &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $black;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 24px;

        &::before {
            content: '';
            height: 16px;
            background-image: url('./../img/icon/link-arrow.svg');
            background-repeat: no-repeat;
            padding: 4px;
            margin-right: 16px;
        }

        @include w-768 {
            margin-bottom: 0;
        }
    }

    // .arrow-expand__text_arrow_transform

    &__text_arrow_transform {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $black;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 24px;

        &::before {
            content: '';
            height: 16px;
            background-image: url('./../img/icon/link-arrow.svg');
            background-repeat: no-repeat;
            padding: 4px;
            margin-right: 16px;
            transform: rotate(180deg) translateY(3px);
        }

        @include w-768 {
            margin-bottom: 0;
        }
    }
}