// main ../style.scss

.btn {

    // .btn_clean-standart

    &_clean-standart {
        border: none;
        background-color: $transparent;
        cursor: pointer;
        padding: 8px;
        opacity: .9;

        &:hover {
            opacity: 1;
        }

        &:focus {
            outline: none;
            border: 1px solid $grey;
            border-radius: 100%;
        }

        @include w-1366 {
            &:focus {
                border-radius: 5px;
            }
        }
    }
}