// main ../style.scss

.card {
    min-height: 196px;

    @include w-768 {
        min-height: 288px;
    }

    // .card__title-block

    &__title-block {
        width: 100%;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
        border-top: $blue-extra-border 1px solid;
        padding: 16px;

        @include w-768 {
            padding: 16px 24px;
        }

        @include w-1120 {
            padding: 16px 32px;
        }
    }

    // .card__title-text

    &__title-text {
        color: $grey;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 400;
        vertical-align: middle;
        display: inline;
    }

    // .card__content-block

    &__content-block {
        height: 144px;
        margin-left: 16px;

        @include w-768 {
            height: 200px;
            display: flex;
            justify-content: center;
            transition: 1s ease;
            margin-left: 0;
        }
    }

    // .card__content-wrapper

    &__content-wrapper {
        display: flex;
        align-items: center;
        height: 104px;

        @include w-768 {
            margin: 24px;
            width: 100%;
            height: 192px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 72px);
            row-gap: 16px;
            column-gap: 24px;
        }

        @include w-1120 {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 32px;
            margin: 32px;
        }
    }

    // .card__content-item

    &__content-item {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;
        background: $white;
        border: 1px solid $light-grey;
        border-radius: 6px;
        height: 72px;
        min-width: 0;

        @include w-768 {
            width: 100%;
        }
    }

    // .card__item-title

    &__item-title {
        margin: 16px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    // .card__pagination

    &__pagination {
        display: flex;
        max-width: 240px;
        position: static;
        margin: auto;
        justify-content: space-between;

        @include w-768 {
            display: none;
        }
    }

    // .card__bullet

    &__bullet {
        display: block;
        width: 12px;
        height: 12px;
        background-color: $grey-bullets;
        border-radius: 100%;
        cursor: pointer;
    }

    // .card__bullet_active

    &__bullet_active {
        background-color: $grey-bullets-active;
    }

    // .card__item-logo

    &__item-logo {
    }

    // .card__detail-btn

    &__detail-btn {
        opacity: .9;

        &:focus {
            outline: none;
            border-radius: 100%;
            box-shadow: 2px 2px 5px $grey, -2px 2px 5px $grey, 2px -2px 5px $grey, -2px -2px 5px $grey;
        }

        &:hover {
            opacity: 1;
        }
    }

    // .card__expand-block

    &__expand-block {
        display: none;

        @include w-768 {
            display: block;
        }
    }

    // .card__expand-btn

    &__expand-btn {
        margin-left: 24px;
    }

    // Модификаторы ==================================

    //Разворот для блоков:

    // .card__expand-btn_expand 

    &__expand-btn_expand {
        height: 370px;
        
        @include w-1120 {
            height: 290px;
        }
    }

    // .card__expand-btn_expand_wide

    &__expand-btn_expand_wide {
        height: 570px;
        
        @include w-1120 {
            height: 380px;
        }
    }

    // Модификаторы высоты и отступов

    // .card__content-block_height_wide

    &__content-block_height_wide {
        min-height: 240px;

        @include w-768 {
            min-height: 0;
        }
    }

    // .card__content-wrapper_height_wide

    &__content-wrapper_height_wide {
        height: 204px;

        @include w-768 {
            grid-template-rows: 160px;
        }
    }

    // .card__content-item_height_wide

    &__content-item_height_wide {
        height: 160px;
    }

    // .card__content-item_flex_column

    &__content-item_flex_column {
        flex-flow: column;
        align-items: flex-start;
    }

    // .card__detail-btn_margin_plus

    &__detail-btn_margin_plus {
        margin-left: auto;
        margin-bottom: 16px;
    }

    // .card__pagination_width_narrow

    &__pagination_width_narrow {
        max-width: 170px;
    }

    // .card__pagination_width_extra_narrow

    &__pagination_width_extra_narrow {
        max-width: 100px;
    }
}