.menu {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        padding: 1px;
        width: 2px;
        height: 30px;
        background-color: $light-grey;
        margin: 0 12px;
        display: none;

        @include w-768 {
            display: block;
        }
    }

    // .menu__open-btn

    &__open-btn {
        margin-left: 8px;
        display: flex;
        align-items: center;

        @include w-768 {
            margin-right: 12px;
            margin-left: 16px;
        }

        @include w-1120 {
            display: none;
        }
    }

    // .menu__open-btn-pic

    &__open-btn-pic {
    }
}
