.menu {
    height: 100vh;
    min-height: 676px;
    max-width: 360px;
    background-color: $white;
    padding: 16px 0;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 1;

    @include w-768 {
        max-width: 320px;
    }

    // .menu__head

    &__head {
    }

    // .menu__footer

    &__footer {
        position: relative;
        bottom: 5%;
        margin-bottom: 16px;
    }

    // .menu__first-line-block

    &__first-line-block {
        display: flex;
        justify-content: space-between;
        margin: 0 16px;
    }

    // .menu__close-burger

    &__close-burger {
    }

    // .menu__close-burger-btn

    &__close-burger-btn {
    }

    // .menu__logo

    &__logo {
        margin-right: auto;
        margin-left: 8px;
    }

    // .menu__search-btn

    &__search-btn {
    }

    // .menu__search-pic

    &__search-pic {
    }

    // .menu__list

    &__list {
        list-style: none;
        padding: 0;
        margin: 24px 0;
    }

    // .menu__item 

    &__item {  
    }

    // .menu__link

    &__link {
        display: block;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 24px 0 24px 24px;
        font-weight: 500;
        text-decoration: none;
        color: $black;

        &:hover {
            opacity: .9;
        }
    }

    // .menu__submenu

    &__submenu {
        margin-left: 16px;
        margin-top: 24px;
    }

    // .menu__contacts

    &__contacts {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100px;
        margin-left: 24px;
        margin-top: 8px;
    }

    // .menu__mail

    &__mail {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-decoration: none;
        font-weight: 500;
        color: $black;

        &:hover {
            opacity: .9;
        }
    }

    // .menu__phone

    &__phone {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        text-decoration: none;
        font-weight: 700;
        color: $black;
        margin-top: 12px;

        &:hover {
            opacity: .9;
        }
    }

    // .menu__lang-block

    &__lang-block {
        margin-top: 4vh;
    }

    // .menu__lang-item

    &__lang-item {
        border: none;
        background-color: $transparent;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 0;
        margin-left: 7px;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            opacity: .9;
        }
    }

    // .menu__search

    &__search {
        display: none;
        margin-right: 8px;
        position: absolute;
        top: 16px;
        right: 0;
    }

    // .menu__search-btn

    &__search-btn {
    }

    //==================================================
    // Модификаторы:

    // .menu_open 

    &_open {
        width: 100%;
        display: flex;
        animation: open-menu-anim .5s linear;
    }

    // .menu_close

    &_close {
        animation: close-menu-anim .5s ease;
        display: flex;
    }

    // .menu_active_false

    &_active_false {
        display: none;
        width: 0;
    }

    // .menu__link_active

    &__link_open {
        color: $grey;
        margin: 0;

        &:before {
            content: '';
            padding: 2px;
            height: 34px;
            background-color: $blue-main;
            border-radius: 0 15px 15px 0;
            margin-right: 20px;

            @include w-768 {
                margin-right: 20px;
            }

            @include w-1120 {
                margin-right: 28px;
            }
        }
    }

    // .menu__lang-item

    &__lang-item_active {
        color: $grey;
    }
}

@keyframes open-menu-anim {
    0% {
        display: none;
        width: 0;
    }

    5% {
        display: flex;
    }
    
    100% {
        width: 100%;
    }
}

@keyframes close-menu-anim {
    0% {
        width: 360px;
        display: flex;
    }

    95% {
        width: 0;
    }

    100% {
        display: none;
    }
}
