// main ../style.scss

.price {
    padding-bottom: 40px;

    // .price__content-block

    &__content-block {
        min-height: 245px;

        @include w-768 {
            min-height: 370px;
            flex-flow: column;
            margin: 0 24px;
            padding-top: 46px;
        }

        @include w-1120 {
            margin: 0 32px;
        }
    }

    // .price__content-wrapper

    &__content-wrapper {
        height: 230px;

        @include w-768 {
            height: 325px;
            background-color: $white;
            border-radius: 6px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            margin: 0;
        }
    }

    // .price__content-item

    &__content-item {
        height: 190px;

        @include w-768 {
            flex-flow: row;
            align-items: center;
            max-height: 64px;
            border: none;
            margin-top: -24px;

            &::after {
                content: '';
                width: 97%;
                height: 1px;
                background-color: $light-grey;
                position: absolute;
                top: 100%;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    // .price__item-name

    &__item-name {
        margin: 16px 0 8px 0;

        &::before {
            content: 'Ремонтные услуги';
            font-size: 14px;
            line-height: 16px;
            color: $grey;
            opacity: 0.72;
            white-space: nowrap;
            display: block;

            @include w-768 {
                position: absolute;
                top: -30px;
            }
        }

        @include w-768 {
            margin: 0;
            min-width: 360px;
        }
    }

    // .price__text-pattern

    &__text-pattern {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    // .price__item-price

    &__item-price {
        margin: 8px 0;

        &::before {
            content: 'Цена';
            font-size: 14px;
            line-height: 16px;
            color: $grey;
            opacity: 0.72;
            white-space: nowrap;
            display: block;

            @include w-768 {
                position: absolute;
                top: -30px;
            }
        }

        @include w-768 {
            margin: 0;
            min-width: 80px;
        }
    }

    // .price__item-term

    &__item-term {
        margin-bottom: 8px 0 20px 0;

        &::before {
            content: 'Срок';
            font-size: 14px;
            line-height: 16px;
            color: $grey;
            opacity: 0.72;
            white-space: nowrap;
            display: block;

            @include w-768 {
                position: absolute;
                top: -30px;
            }
        }

        @include w-768 {
            margin: 0;
            min-width: 85px;
        }
    }

    // .price__order-btn

    &__order-btn {
        width: 110px;
        position: absolute;
        top: 77%;
        left: 48%;

        @include w-768 {
            position: static;
        }
    }

    // Модификаторы ==================================

    // .price__text_hidden-on-mon-tab

    &__text_hidden-on-mon-tab {
        &::before {
            @include w-768 {
                display: none;
            }
        }
    }
}
