// main ../style.scss

.submenu {
    display: flex;
    
    @include w-768 {
        align-items: center;
    }

    @include w-1120 {
        display: none;
    }

    // .submenu__btn

    &__btn {
    }
    
    // .submenu-pic
    
    &__pic {
    }
}

