.tab {

    // .tab__container

    &__container {
        margin: 16px;

        @include w-768 {
            margin: 24px;
        }

        @include w-1366 {
            margin: 32px;
        }
    }

    // .tab__slidemenu

    &__slidemenu {
        overflow-y: scroll;
        display: flex;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar { 
            width: 0; 
        }

        @include w-1366 {
            max-width: 1040px;
            overflow-y: visible;
            flex-flow: wrap;

        }
    }

    // .tab__slidemenu-btn

    &__slidemenu-btn {
        color: $grey;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        height: 40px;
        padding: 8px 16px;
        white-space: nowrap;
        background-color: $transparent;
        border: none;
        cursor: pointer;
        opacity: .9;

        &:hover {
            opacity: 1;
        }

        // .tab__slidemenu-btn_active

        &_active {
            background-color: $white;
            border: 1px solid $blue-border;
            border-radius: 3px;
            opacity: 1;
        }
    }

    

    // .tab__content-item

    &__content-item {

        @include w-768 {
            display: flex;
            margin-top: 17px;
        }
    }

    // .tab__text

    &__text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        max-height: 88px;
        overflow-y: hidden;
        margin-bottom: 16px;

        & p:first-child {
            margin: 0;
        }

        @include w-768 {
            max-height: 150px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        @include w-1366 {
            max-height: 295px;
        }
    }

    // .tab__link

    &__link {
        text-decoration: none;
    }

    // .tab__common-text

    &__common-text {
        margin-right: 48px;

        @include w-1366 {
            margin-right: 36px;
        }
    }

    // .tab__link-text 

    &__link-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $black;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-left: 8px;
        margin-bottom: 16px;
        height: 24px;

        &::before {
            content: '';
            height: 16px;
            background-image: url('./../img/icon/link-arrow.svg');
            background-repeat: no-repeat;
            padding: 4px;
            margin-right: 16px;
        }

        @include w-768 {
            margin-bottom: 0;
        }
    }

    // .tab__pic

    &__pic {
        margin: 0 auto;
        max-width: 530px;

        @include w-768 {
            min-width: 50%;
        }
    }

    &__pic-img {
        @include w-768 {
            border-radius: 6px;
        }
    }
}
