.tab {

    // .tab__container

    &__container {
    }

    // .tab__slidemenu

    &__slidemenu {
        overflow-y: scroll;
        display: flex;
        margin: 0 16px;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar { 
            width: 0; 
        }
    }

    // .tab__slidemenu-btn

    &__slidemenu-btn {
        color: $grey;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        height: 40px;
        padding: 8px 16px;
        white-space: nowrap;
        background-color: $transparent;
        border: none;

        // .tab__slidemenu-btn_active

        &_active {
            background-color: $white;
            border: 1px solid $blue-border;
            border-radius: 3px;
        }
    }

    

    // .tab__content-item

    &__content-item {
    }

    // .tab__text

    &__text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        margin: 16px;
        max-height: 90px;
        overflow-y: hidden;

        & p:first-child {
            margin: 0;
        }
    }

    // .tab__link

    &__link {
        text-decoration: none;
    }

    // .tab__link-text 

    &__link-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $black;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-left: 25px;
        margin-bottom: 16px;
        height: 24px;

        &::before {
            content: '';
            height: 16px;
            background-image: url('./../img/icon/link-arrow.svg');
            background-repeat: no-repeat;
            padding: 4px;
            margin-right: 16px;
        }
    }

    // .tab__pic

    &__pic {
    }
}
