// main: style.scss

//colors
$black: #1b1c21;
$blue-main: #41f6d7;
$blue-border: #b8ffec;
$blue-extra-border: #d9fff5;
$grey: #7e7e82;
$light-grey: #eaeaea;
$main-bg: #f8f8f8;
$raspberry-bg: #ff3e79;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);
$grey-bullets: #dddddd;
$grey-bullets-active: #b5b6bc;

//fonts
$lakes: 'TTLakes', 'Arial', 'sans-serif';

//viewports

$mon: 1366px;
$s-mon: 1120px;
$tb: 768px;
$mob: 320px;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// timers

// Animation
$t-anim: 0.3s;

$default-transition-settings: 0.3s ease;
$modal-transition-settings: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
