// main: style.scss

//colors
$black: #1B1C21;
$blue-main: #41F6D7;
$blue-border: #B8FFEC;
$grey: #7E7E82;
$light-grey: #EAEAEA;
$main-bg: #F8F8F8;
$red: red;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);

//fonts
$lakes: "TTLakes", "Arial", "sans-serif";

//viewports

$mon: 1365px;
$s-mon: 1120px;
$tb: 768px;
$mob: 320px;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// timers


// Animation
$t-anim: 0.3s;

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);